body {
  height: 100vh;
  background: url("../img/bg.jpg") no-repeat center fixed;
  background-size: cover;
}

.centertitle {
	color: #fff;
	text-align: center;
	font-size: 100px;
}

.subtext {
	color: #fff;
	text-align: center;
	font-size: 40px;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}